version: '3'
services:

  workdaybackend:
    container_name: backend
    image: "ghcr.io/jonashauth/workday-backend-services:main"
    ports:
    - 8080:8080
    depends_on:
    - mongodatabase
    
  workdayfrontend:
    container_name: frontend
    image: "ghcr.io/jonashauth/workday-frontend:main"
    ports:
    - 80:5000
    depends_on:
    - mongodatabase
  
  mongodatabase:
    image : mongo
    container_name: mongodb
    volumes:
    - 'mongodata:/data/db'
    ports:
    - 27017:27017
    restart: unless-stopped


volumes:
  mongodata: